@font-face {
  font-family: 'canela_deck_trialbold';
  src: url('/fonts/caneladeck-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'canela_deck_trialbold_italic';
  src: url('/fonts/caneladeck-bolditalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'canela_deck_trialthin';
  src: url('/fonts/caneladeck-thin-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'canela_deck_regular';
  src: url('/fonts/caneladeck-regular-trial-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'canela_deck_italic';
  src: url('/fonts/caneladeck-regularitalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;

}