@font-face {
  font-family: 'Fira Code';
  font-display: swap;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  src: url('/fonts/FiraCode-regular.wotf2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-display: swap;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  src: url('/fonts/FiraCode-Bold.wotf2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  src: url('/fonts/FiraCode-Light.wotf2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  src: url('/fonts/FiraCode-SemiBold.wotf2') format('woff2');
}
