


<!-- Pagination Navigation -->
{% if pagination.pages.length > 1 %}
    <nav aria-label="Turbo Links Pagination" class="pagination mt-8 flex justify-evenly items-center">
      <div class="w-full">
        {% if pagination.previousPageHref %}
              <a href="{{ pagination.previousPageHref }}" class="btn btn-secondary"><span class="btn-text-with-icon">← <span class="hidden md:inline">Previous</span></span></a>
        {% else %}
          <span class="btn btn-secondary disabled"><span class="btn-text-with-icon">← <span class="hidden md:inline">Previous</span></span></span>
        {% endif %}
      </div>

      <div class="flex w-full">
        {% for pageEntry in pagination.pages %}
          {% if page.url == pageEntry %}
            <span class="px-3 py-2 bg-blue-600 text-white rounded">{{ loop.index }}</span>
          {% else %}
            {% if loop.index !== 1 %}
              <a href="/turbo-links/{{ loop.index }}" class="px-3 py-2 border rounded hover:bg-gray-100 no-ext">{{ loop.index }}</a>
            {% else %}
              <a href="/turbo-links/" class="px-3 py-2 border rounded hover:bg-gray-100 no-ext">{{ loop.index }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="w-full">
        {% if pagination.nextPageHref %}
          <a href="{{ pagination.nextPageHref }}" class="btn btn-primary"><span class="text-blue-50"><span class="hidden md:inline">Next</span> →</span></a>
        {% else %}
          <span class="btn btn-primary disabled"><span class="text-blue-50"><span class="hidden md:inline">Next</span> →</span></span>
        {% endif %}
      </div>
    </nav>
  {% endif %}

