---
description: Information about amplification on this site.
permalink: /amplify/index.html
folder: amplify
---

{% extends "layouts/page.njk" %}

{% set allPosts = collections.contentTypes | findBySlug('amplify') | values('items') %}
{% set postsByYear = allPosts | groupByYear %}
{% set titlePrefix = 'Index' %}
{% set title = 'Amplify Archive' %}
{% set subTitle = '<strong>' + allPosts.length +'</strong> Amplified Links' %}
{% set headingClass = 'writing-index' %}
{% set paginationBase = "amplify" %}
{% set forward = false %}

{% block pageContent %}
  <p>
    The web still has amazing things to share. Outside of the big platforms, there are still folks who creating beautiful things, writing fasinating words, and sharing their discoveries. This section is an archive of a lot of my commentary on stuff.
  </p>
    {% for year, items in postsByYear %}
        <section>
            <header>
                <h3>Last 100 in {{ year }}</h3>
                <nav>
                    {% set postsByMonth = items | groupByMonth %}
                    {% set year = year %}
                    {% include 'components/months-of-year.njk' %}
                </nav>
            </header>
            {% set displayContentType = true %}
            {% set postsList = items.slice(0, 100) %}
            {% include "components/post-list.njk" %}
        </section>
    {% endfor %}

    {% include 'components/hot-topics.njk' %}
{% endblock %}
