---
title: 'About'
isBasedOn: "https://davidpham5.github.io/davidpham5/"
---
{%- extends "layouts/page.njk" -%}

{%- block content -%}
<article class="content-grid">
    <h1>Who is David Pham?</h1>

    <section id="shared-about" class="full-width breakout" >
      <p>David Pham is the Senior Data Privacy Engineer at The Washington Post.</p>

		  <p>Read more about David in his main <a href="https://davidpham5.github.io/davidpham5/" target="_blank">about page</a>.</p>
    </section>

    <section class="full-width breakout">
        <a id="inspiration"></a>
        <h2>Inspiration and resources that formed this site</h2>
        <ul>
            <li>This blog uses the code from and is heavily based on the work of <a href="https://photogabble.co.uk/about/" target="_blank">Simon Dann</a> <small>(<a target="_blank" href="https://notacult.social/@carbontwelve" target="_blank">@carbontwelve@notacult.social</a>)</small></li>
        </ul>
    </section>
</article>
{%- endblock -%}
