---
title: 'About'
isBasedOn: "https://davidpham5.github.io/davidpham5/"
---
{%- extends "layouts/page.njk" -%}

{%- block content -%}
<article class="content-grid">
    <h1>Who is David Pham?</h1>

    <section id="shared-about" class="full-width breakout" >
      <p>I am a senior data privacy engineer at a newspaper here in Washington, DC. I'm a self-taught web developer. I did not studied computer science, rather I purused history and sociology. I was talented in understanding people over time, and group behavior of people. I find myself in tech through many late nights of tinkering in wordpess, php, javascript, angularJS, jquery, react, html, and css. My success is really through others's help, support, and mentorship that I made it as a professional engineer.</p>

      <p>My dad fled Vietnam as a refugee soon after the war. He arrived in the States through a student visa. My mom grew up in the hot deserts of Juarez, Mexico, second youngest of 10. I think about the courage they had to make a life in the States without money, their home culture, and their communities to support them. Both are non-native English speakers, so happened to have good enough English to talk to each other, and built a relationship together. I often think about the sheer luck of my life when I consider where my parents came from and where I am at today. From that origin, I've managed to carve a space in the tech industry, first of my family to buy a home, and have a family of my own.</p>

      <p>I bring up often times, the fact I come from a non-traditional background in software engineering. My education in history gives me a grounded perspective of how and why we all got here, in our interesting times. The key skill I've honed is describing our complicated systems in a way that makes sense to others. History is a form of storytelling, and the stories we tell to each other are usually wrong, but useful. I think about the narratives of the technology we've built -- almost god-like in it's scale and power. Our brains are biologically no different than humans from 10,000 years ago, when we were hunter-gatherers. Our republic, cities, and civic insitutions are only a few hundreds years old. I feel my history background makes me think more fully about the vary thing we are building and putting out the world.</p>

      <p>I'm pulled by people that think in systems, cross-discipline in their training and studies, and lucid in describing complicated stuff. The first person I known to have these characterisitcs was my history teacher in high school, Mr. Laney. Thank you, Mr. Laney for cultvating a love for books, writing, and history. When scary stuff happened like 9/11, he offered a calm and reasoned perspective on it. He was the first person to show me that the world is a complicated, unfair, and cruel place, but it can be understood. That feeling, the anxeity that comes from a deeply traumatic event, he assuaged that turmoil through his lectures.</p>

      <p>My wife and children bring immeasurable joy to my life. I am constantly amazed by the capacity to love and be loved by them. I am grateful for their presence every single day. I really love being a father, a role i didn't know I'd be good at or enjoy as much as I do.</p>

      <p>My current favorite quote is from Maggie Smith's <a href="https://www.poetryfoundation.org/poems/89897/good-bones">Good Bones</a>. It goes something like this:
      </br>
      </br>
      <i>Any decent realtor,</br>
      walking you through a real shithole,</br>
      chirps on about good bones:</br>
      This place could be beautiful, right?</br>
      You could make this place beautiful.<i>
      </p>
    </section>

    <section class="full-width breakout">
        <a id="inspiration"></a>
        <h2>Inspiration and resources that formed this site</h2>
        <ul>
            <li>This blog uses the code from and is heavily based on the work of <a href="https://photogabble.co.uk/about/" target="_blank">Simon Dann</a> <small>(<a target="_blank" href="https://notacult.social/@carbontwelve" target="_blank">@carbontwelve@notacult.social</a>)</small></li>
        </ul>
    </section>
</article>
{%- endblock -%}
