---
title: 'About'
isBasedOn: "https://davidpham5.github.io/davidpham5/"
---
{%- extends "layouts/page.njk" -%}

{%- block content -%}
<article class="content-grid">
    <h1>Who is David Pham?</h1>

    <section id="shared-about" class="full-width breakout" >
      <p>I am a senior data privacy engineer at a newspaper here in Washington, DC. I'm a self taught web developer. Instead of studying computer science, I studied history and sociology. I find myself in tech through many late nights of tinkering in php, javascript, html, and css. But it's through others's help, support, and mentorship that I made it as a professional programmer.</p>

      <p>My dad fled Vietnam as a refugee soon after the war. He arrived in the States through a student visa. My mom grew up in the hot deserts of Juarez, Mexico, second youngest of 10, and all blue collar workers. I think about the courage they had to make a life in the States without money, culture, and community to support them. Both are non-native English speakers. They had no wealth to pass on to me when they had me. I often think about the sheer luck of my life when I consider where my parents came from and where I am at today.</p>

      <p>A question I often get is the utility of my education in my profession. I think my history degree gives me a profound humble perspective that history didn't start today. A mistake I see time and time again, is that many tech CEOs and executives believe history started when they entered onto the scene. Their innovations makes them infallible, or experts in other domains. Truth of the matter is their reimagining of society is really a repackaging of an old idea: saving the world, if they are the ones saving it.</p>

      <p>I'm often drawn to outsiders, weridos, nerds, and the uncool. I love books; I've moved away from physical books for so many years to only come back to them with a great appreciation. I see myself in characters who are misfits, like in the movie Hackers (Hack the Planet!). Film and movies carried me through all my years in childhood to adulthood. I really embrace when I tear up during a movie, even when it's really bad. I say this because at the heart of human beings, we are wired for great storytelling. It's how we make sense of the world, for better or worse.</p>

      <p>My wife and children bring immeasurable joy to my life. I am constantly amazed by the capacity to love and be loved by them. I am grateful for their presence every single day. I really love being a father, a role i didn't know I'd be good at.</p>

      <p>My current favorite quote is from Maggie Smith's <a href="https://www.poetryfoundation.org/poems/89897/good-bones">Good Bones</a>. It goes something like this:
      </br>
      </br>
      <i>Any decent realtor,</br>
      walking you through a real shithole,</br>
      chirps on about good bones:</br>
      This place could be beautiful, right?</br>
      You could make this place beautiful.<i>
      </p>
    </section>

    <section class="full-width breakout">
        <a id="inspiration"></a>
        <h2>Inspiration and resources that formed this site</h2>
        <ul>
            <li>This blog uses the code from and is heavily based on the work of <a href="https://photogabble.co.uk/about/" target="_blank">Simon Dann</a> <small>(<a target="_blank" href="https://notacult.social/@carbontwelve" target="_blank">@carbontwelve@notacult.social</a>)</small></li>
        </ul>
    </section>
</article>
{%- endblock -%}
