---
folder: lists
---
{% extends "layouts/page.njk" %}

{% set title = 'Reading is a joyful part of my life.' %}
{% set titlePrefix = 'Reading' %}
{% set readBooks = bookwyrm | whereKeyEquals('shelf', 'read') %}
{% set readingBooks = bookwyrm | whereKeyEquals('shelf', 'reading') %}
{% set reviews = collections.resources | whereKeyEquals('resourceType', 'books') %}
{% set subTitle %}
  Books I’ve read that significantly influenced how I see the world.
{% endset %}
{% set subTitle1 %}
    📖 Books I've started and probably won't finish:
{% endset %}
{% set subTitle2 %}
    📚 Books I've finished, hooray:
{% endset %}

{% block pageContent %}
    <section>
        <h2 class="">{{ subTitle1 }}</h2>
        {% set books = readingBooks %}
        {% include "components/book-grid.njk" %}
    </section>

    <section>
        <h2>{{ subTitle2 }}</h2>
        {% set books = readBooks %}
        {% include "components/book-grid.njk" %}
    </section>
    <hr/>
    {% include "components/book-layout-inspiration.njk" %}
{% endblock %}
