---
folder: lists
---
{% extends "layouts/page.njk" %}

{% set title = 'Attention Expanding Technology: Books' %}
{% set titlePrefix = 'Library' %}
{% set readBooks = bookwyrm | whereKeyEquals('shelf', 'read') %}
{% set readingBooks = bookwyrm | whereKeyEquals('shelf', 'reading') %}
{% set reviews = collections.resources | whereKeyEquals('resourceType', 'books') %}
{% set subTitle = 'Freedom to learn'%}

{% block pageContent %}
    <section class="library-section">
        <h2 class="section-title">Currently Reading</h2>
        <p class="section-subtitle">Books I've started and probably won't finish</p>
        {% set books = readingBooks %}
        {% include "components/book-library.njk" %}
    </section>

    <section class="library-section">
        <h2 class="section-title">Finished Books</h2>
        <p class="section-subtitle">Books I've finished, hooray</p>
        {% set books = readBooks %}
        {% include "components/book-library.njk" %}
    </section>
{% endblock %}
