{% extends "layouts/page.njk" %}

{% set articlesList = collections.post | excludeStubs %}
{% set mainClass = 'content-grid' %}

{% block content %}
  <h1><span class="selected">Oh hey</span>, I'm David Chico Pham.</h1>

  <section class="paragraph">
    <p>
		    I am a Senior Data Privacy Engineer at The Washington Post. I'm a self-taught software engineer with an unconventional perspective -- my background is in history and sociology. The blend of humanities and technology gives me a distinctive viewpoint in my field and craft.
	  </p>
    <p>
        As a first-generation American, a Mid-Western, working class, mixed race Buddhist, I didn't fit in growing up. Community, to me was a strange abstract that I didn't get. As it turns out, there is not such thing as Community™. Rather, it's how we related to one another and how we treat each other that makes community meaningful.
    </p>
    <p>In my spare time I work on <a href="/sourdoughts/">making sourdoughs bread</a>, I <a href="/tinker/">tinker</a> with old ipods, and I play a lot <a href='https://steamcommunity.com/profiles/76561198116240122/'>Destiny 2</a> -- Warlock main. You can find me on <a href="/elsewhere/">various online platforms &amp; communities</a>.</p>
    <p>You can find out more <a href="/about/">about me</a>, what I <a href="/uses/">use</a>, the books that I <a href="/books/">have been reading</a> and what I am up to <a href="/now/">now</a>.</p>
  </section>
  <h4>Chico was my nickname in school.</h4>
  <section id="front-content-display">
    <section>
      <h2>Recent Writing</h2>
      {% set postsList = articlesList | excludeTypes(['thought', 'project', 'mirror', 'resource', 'amplify']) | reverse | limit(6) %}
      {% include "components/post-list.njk" %}
      <p>
        Subscribe to the <a href="/writing/feed.xml">RSS Feed</a> or view the entire <a href="/writing">archive</a> for more.
      </p>
    </section>

    {% set thoughts = articlesList | onlyTypes(['thought']) %}

    {% if thoughts.length > 0 %}
      <section>
        <h2>Recent Thoughts</h2>
        {% set postsList = thoughts | reverse | limit(3) %}
        {% include "components/post-list.njk" %}
        <p>
          View <a href="/thoughts/">more thoughts...</a>
        </p>
      </section>
    {% endif %}
    <section>
      <h2>Recent Amplifications</h2>
      {% set postsList = collections.contentTypes | findBySlug('amplify') | values('items') | limit(10) %}
      {% set forward = true %}
      {% include "components/post-list.njk" %}

      <p>
        Subscribe to the <a href="/amplify/feed.xml">Amplified Items RSS Feed</a> or view the entire <a href="/amplify">archive</a> for more.
      </p>
    </section>
  </section>
{% endblock %}
