{% extends "layouts/page.njk" %}

{% set articlesList = collections.post | excludeStubs %}
{% set mainClass = 'content-grid' %}

{% block content %}
  <header><h1 class="special header"><span class="strong">David Chico Pham </span>writes on technology, sourdough, and current events.</h1><div class="text-4xl py-6 leading-normal" style="opacity: 1; transform: none; max-width: 780px;">Fantastic home cook, not bad student of history, and slightly above average engineer.</div></b></h2></header>
  <section class="paragraph">
    <p>
		    I am a Senior Privacy Engineer at The Washington Post. My path into web development is somewhat unusual -- I'm a self-taught web dev with an a background in history and sociology. I didn't realize it back then, but my studies actually gave me all the right tools I needed for writing and storytelling. As an engineer, I've been fortunate to work with some of the most talented and creative folks in media and technology.
	  </p>
    <p>
        As a first-generation Mexican-Vietnamese American, Buddhist from the Midwest, and working-class person, I often felt like an outsider. The concept of "community" seemed abstract and elusive to me. It was something I didn't quite get. I had a hard time grasping its true meaning. However, over time, I've come to understand that "community" is fundamentally about our relationships with one another. This personal site is an entry to the community of indie web creators and thinkers.
    {# <p>In my spare time I work on <a href="/sourdoughs/">making sourdoughs bread</a>, I <a href="/tinker/">tinker</a> with old ipods, and I play a lot <a href='https://steamcommunity.com/profiles/76561198116240122/'>Destiny 2</a> -- Warlock main. You can find me on <a href="/elsewhere/">various online platforms &amp; communities</a>.</p> #}
  </section>
  <h4>Chico was my nickname in school.</h4>
  <section id="front-content-display">
     <section>
      <h2 class="text-4xl py-8 pt-4 pb-0">StoryStream</h2>
      <p class="thin pb-4">Findings on the web, interesting stuff, or beautiful things to share</p>
      {% set postList = collections.contentTypes | findBySlug('amplify') | values('items') | limit(10) %}
      {# {% set forward = true %} #}
      {% include "components/storystream.njk" %}

      <p>
        Subscribe to the <a href="/amplify/feed.xml">Storystream RSS Feed</a> or view the entire <a href="/amplify">archive</a> for more.
      </p>
    </section>
    {% set thoughts = articlesList | onlyTypes(['thought']) %}

    {% if thoughts.length > 0 %}
      <section>
        <h2 class="text-4xl py-8">Recent Thoughts</h2>
        {% set postsList = thoughts | reverse | limit(10) %}
        {% include "components/post-list.njk" %}
        <p>
          View <a href="/thoughts/">more thoughts...</a>
        </p>
      </section>
    {% endif %}

    <section>
      <h2 class="text-4xl pt-4 pb-0 mt-0 content-grid-header">Essays</h2>
      <h3 class="thin pb-4 my-0 content-grid-header">Loose, vague feelings on things I don't entirely understand yet.</h3>
      {% set postsList = articlesList | excludeTypes(['thought', 'project', 'mirror', 'resource', 'amplify']) | reverse | limit(12) %}
      {% include "components/post-list.njk" %}
      <p>
        Subscribe to the <a href="/writing/feed.xml">RSS Feed</a> or view the entire <a href="/writing">archive</a> for more.
      </p>
      <section>
      {% set turboLinks = raindrop.articles %}

      {% if turboLinks.length > 0 %}
      <h2 class="text-4xl py-8 pt-4 pb-0">Turbocharged hyperlinks</h2>
      <p class="thin pb-4">Chaos desires order -- links to bring clarity</p>
        <ul class="post-list">
          {% include "components/turbo-links.njk" %}
        </ul>
        <p>
          View <a href="/turbo-links/">more turbo links</a>
        </p>
      {% endif %}
      </section>
    </section>

  </section>

  <p>You can find out more <a href="/about/">about me</a>, what I <a href="/uses/">use</a>, the books that I <a href="/books/">have been reading</a> and what I am up to <a href="/now/">now</a>.</p>
{% endblock %}
