---
folder: sourdoughs
---

{% extends "layouts/page.njk" %}

{% set title = 'Sourdough' %}
{% set titlePrefix = 'Bulk Fermenetation' %}
{% set folder = 'sourdoughs' %}
{% set subTitle = 'Baker ratio' %}

{% block pageContent %}
    <section>
        <ul>
            {%- for link in links | reverse -%}
                <li><a href="{{ link.href }}">{{ link.title }}</a></li>
            {%- endfor -%}
        </ul>
    </section>
{% endblock %}