---
folder: sourdoughs
permalink: sourdoughs/
---

{% extends "layouts/page.njk" %}
{% set mainClass = 'content-grid' %}
{% set title = 'Sourdough' %}
{% set titlePrefix = 'Bulk Fermenetation' %}
{% set folder = 'sourdoughs' %}
{% set subTitle = 'Baker ratio, autolypse, strength folds, and commenting on news' %}

{% block pageContent %}
  <section>
    <ul>
      {%- for link in collections.sourdoughs -%}
        <li><a href="{{ link.url }}" title="Read {{ link.data.title }}">{{  link.data.title  }}</a></li>
      {%- endfor -%}
    </ul>
  </section>
{% endblock %}
